<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="~/content/add/style.css" />
<title>add doctor</title>
</head>

<body>

    <div class="header">
        <div class="logo pull_left">
            <a href="#"> <img src="~/images/logo.png" width="100px" /> </a>
            <a class="logo_img" href="#"> <img src="~/images/Find Doctor.png" /> </a>
        </div>

        <div class="nav pull_left">
            <ul>
                <li class="active"><a href="~/./Home/index">Home </a></li>
                <li><a href="#">Services </a></li>
                <li><a href="./About/index">About us </a></li>
                <li><a href="./Contact/index">Contact us </a></li>
            </ul>
        </div>
        <div class="login pull_right">
            <label> For admin: </label>
            <a href="~/./Home/index"> Logout </a>
        </div>
        <div class="clear"> </div>
    </div>
<div class="content">
            <div class="heading">
                   <p>Fill Required Information :</p>
            </div>
			<div class="form">
            <form action="">
               <div class="personal">
               		<p>Personal information:</p>
                           <input type="text" name="name" value="" placeholder="Name" />
                           <br />
                           <input type="tel"  name="phone" value="" placeholder="Phone" />
                           <br />
                           <input type="text" name="address" value="" placeholder="Address" />
                           <br />
                           <input placeholder="Date of birth" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date"> 

                           <br />
                           <input type="text" name="cnic" value="" placeholder="CNIC" />
                           <br />
                               <div class="radio">
                               <label>Male</label>
                               <input type="radio" name="male" value="male" class="male_radio"  />
                               <br />
                               <label>Female</label>
                               <input type="radio" name="female" value="female" />
                               </div>
                 </div>
               <div class="academic">
               		<p>Academic Information: </p>
                           <input placeholder="Passing year" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date"> 

                           <br />
                           <input type="text" name="institute" placeholder="institute" value="" />
                        
               </div>
               <div class="professional">
               		<p>Professional Information: </p>
               			   <input type="text" name="qualification" placeholder="qualification" value="" />
                           <br />
                           <input type="text" name="specialization" placeholder="specialization" value="" />
                           <br />
                           <input placeholder="Office Open" class="textbox-n" type="text" onfocus="(this.type='time')"  id="time"> 

                           <br />
                          <input placeholder="Office close" class="textbox-n" type="text" onfocus="(this.type='time')"  id="time"> 

                           <br />
                           <input type="button" name="add" value="Add" style="color:#136DA2" />
               </div>
            </form>
            </div>
</div>
<div class="footer">
		  <div class="footer_container">	
      		     <div class="nav_foot pull_left">
      			    <ul>
                    
          			<li>FIND DOCTOR </li>
                    <li>426K Block ,Johar Town,Lahore</li>
           			<li>Email id-Kamrankj7@yahoo.com </li>
                    <li>Email id-Bcsf12m522@pucit.edu.pk </li>
      			   </ul>
			     </div>
            
      		     <div class="nav_foot pull_left">
      			     <ul>
          			<li>ABOUT US </li>
                    <li><a href="#">Home</a></li>
           		    <li><a href="#">About us </a></li>
                    <li><a href="#">Contact us </a></li>
      			    </ul>
			    </div>
      		    <div class="nav_foot pull_left">
      			     <ul>
          			<li>Services </li>
                    <li>Contact Doctor</li>
           			<li>Provide Doctor info </li>
                    <li>Doctor location </li>
      			     </ul>
			   </div>
      		   <div class="nav_foot pull_left">
      			    <ul>
          			<li>Customer Service </li>
                    <li>24/7 available</li>
           			<li><a href="#">contact us </a></li>
      			    </ul>
			   </div>
               <div class="clear">
           
            </div>
</div>
 <div class="copyright">
               <div class="right pull_left">
               <p>Powered By KHANsCompany </p>
               </div>
               <div class="right2 pull_right">
               <ul>
          			<li>Terms and Conditions </li>
                    <li>Copyright 2015 OnlineFindDoctor.All rights Reserved.</li>

      			</ul>
               </div>
               <div class="clear"> </div>
               </div>
            </div>
</div>

</body>
</html>
