<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet"  href="~/content/style.css" />
<title>Home</title>
</head>

<body>
<div class="header">
			<div class="logo pull_left">
             <a href="#"> <img src="~/images/logo.png" width="100px" /> </a>
             <a class="logo_img" href="#"> <img src="~/images/Find Doctor.png" /> </a>
           	</div>
             
      		<div class="nav pull_left">
      			<ul>
          			<li class="active"><a href="~/./Home/index">Home </a></li>
           			<li><a href="#">Services </a></li>
             		<li><a href="./About/index">About us </a></li>
              		<li><a href="./Contact/index">Contact us </a></li>
      			</ul>
			</div>
            <div class="login pull_right">
            <Label> For admin: </Label>
            <a href="./Login/index"> Login </a>
            </div>
					<div class="clear"> </div>
</div>
<div class="content">
<div class="rightmost pull_left">
<img src="~/images/doctor_slides.jpg" width="400" />
<br />
<img src="~/images/2015-medical-website-trends-w855h425.jpg" width="400" height="300" />
</div>
			<div class="right_content pull_left">
                 <div class="right_content_container">
						<p id="p1">Find A Doctor You Love </p>
                        <p id="p2">Get The Care You Need </p>
            			   <div class="categories">
            			      <p> Select Category </p>
                              <input type="radio" name="catergory" value="area" /> <label>Area</label> </br>
                              <input type="radio" name="catergory" value="speciality" /><label>Speciality</label> <br />
                              <input type="radio" name="catergory" value="name" /><label> Name</label> <br />
                              <input type="text"  name="category"  placeholder="Enter to Find" class="searching" /> <br />
                      <a href="./Search/index"><input type="button" name="catergory" value="Find Doctors" class="find_doc" /></a>
                           </div>
                  </div>      
            </div>
            <div class="left_content pull_left">
            			<div class="images_left">
                        <img src="~/images/doc_content.jpg" width="400" /> <br />
                        <img src="~/images/doctor_image_content.jpg" />
                        </div>
            
            </div>
            <div class="clear"> </div>
</div>
<div class="footer">
		  <div class="footer_container">	
      		     <div class="nav_foot pull_left">
      			    <ul>
                    
          			<li>FIND DOCTOR </li>
                    <li>426K Block ,Johar Town,Lahore</li>
           			<li>Email id-Kamrankj7@yahoo.com </li>
                    <li>Email id-Bcsf12m522@pucit.edu.pk </li>
      			   </ul>
			     </div>
            
      		     <div class="nav_foot pull_left">
      			     <ul>
          			<li>ABOUT US </li>
                    <li><a href="#">Home</a></li>
           		    <li><a href="#">About us </a></li>
                    <li><a href="#">Contact us </a></li>
      			    </ul>
			    </div>
      		    <div class="nav_foot pull_left">
      			     <ul>
          			<li>Services </li>
                    <li>Contact Doctor</li>
           			<li>Provide Doctor info </li>
                    <li>Doctor location </li>
      			     </ul>
			   </div>
      		   <div class="nav_foot pull_left">
      			    <ul>
          			<li>Customer Service </li>
                    <li>24/7 available</li>
           			<li><a href="#">contact us </a></li>
      			    </ul>
			   </div>
               <div class="clear">
           
            </div>
</div>
 <div class="copyright">
               <div class="right pull_left">
               <p>Powered By KHANsCompany </p>
               </div>
               <div class="right2 pull_right">
               <ul>
          			<li>Terms and Conditions </li>
                    <li>Copyright 2015 OnlineFindDoctor.All rights Reserved.</li>

      			</ul>
               </div>
               <div class="clear"> </div>
               </div>
            </div>
</div>
</body>
</html>
