<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="~/content/options/style.css" />
<title>admin options</title>
</head>

<body>
<div class="header">
			<div class="logo pull_left">
             <a href="#"> <img src="~/images/logo.png" width="100px" /> </a>
              <a class="logo_img" href="#"> <img src="~/images/Find Doctor.png" /> </a>
           	</div>
         
      		<div class="nav pull_left">
      			<ul>
          			<li><a <href="#">Home </a></li>
           			<li><a href="#">Services </a></li>
            		
             		<li><a href="#">About us </a></li>
              		<li><a href="#">Contact us </a></li>
      			</ul>
			</div>
            <div class="login pull_right">
            <Label> For admin: </Label>
            <a href="~/./Home/index"> Logout </a>
            </div>
					<div class="clear"> </div>
</div>
<div class="content">
			<div class="heading">
            <p> Admin Panel:</p>
            </div>
			<div class="container">
            		<div class="container_in">
                          <p>Find doctor:</p>
                          <input type="search" name="search" value="" placeholder="Search doctor" />
                          <p>Choose Action:</p>
                              <div class="options">
            			         <a href="~/./Edit/index" class="edit">Edit Doctor </a>
                                 <br />
                                 <br />
                                 <a href="#" class="delete">Delete Doctor</a>
                                  <br />
                                  <br/>
                                  <a href="~/./Add/index" class="add">Add Doctor </a>
                              
                              </div>
                   </div>
            </div>
</div>
<div class="footer">
		  <div class="footer_container">	
      		     <div class="nav_foot pull_left">
      			    <ul>
                    
          			<li>FIND DOCTOR </li>
                    <li>426K Block ,Johar Town,Lahore</li>
           			<li>Email id-Kamrankj7@yahoo.com </li>
                    <li>Email id-Bcsf12m522@pucit.edu.pk </li>
      			   </ul>
			     </div>
            
      		     <div class="nav_foot pull_left">
      			     <ul>
          			<li>ABOUT US </li>
                    <li><a href="#">Home</a></li>
           		    <li><a href="#">About us </a></li>
                    <li><a href="#">Contact us </a></li>
      			    </ul>
			    </div>
      		    <div class="nav_foot pull_left">
      			     <ul>
          			<li>Services </li>
                    <li>Contact Doctor</li>
           			<li>Provide Doctor info </li>
                    <li>Doctor location </li>
      			     </ul>
			   </div>
      		   <div class="nav_foot pull_left">
      			    <ul>
          			<li>Customer Service </li>
                    <li>24/7 available</li>
           			<li><a href="#">contact us </a></li>
      			    </ul>
			   </div>
               <div class="clear">
           
            </div>
</div>
 <div class="copyright">
               <div class="right pull_left">
               <p>Powered By KHANsCompany </p>
               </div>
               <div class="right2 pull_right">
               <ul>
          			<li>Terms and Conditions </li>
                    <li>Copyright 2015 OnlineFindDoctor.All rights Reserved.</li>

      			</ul>
               </div>
               <div class="clear"> </div>
               </div>
            </div>
</div>
</body>
</html>
