<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="~/content/about/style.css" />
<title>Aboutus</title>
</head>

<body>
<div class="header">
			<div class="logo pull_left">
             <a href="#"> <img src="~/images/logo.png" width="100px" /> </a>
             <a class="logo_img" href="#"> <img src="~/images/Find Doctor.png" /> </a>
           	</div>
         
      		<div class="nav pull_left">
      			<ul>
          			<li><a href="#">Home </a></li>
           			<li><a href="#">Services </a></li>
   
             		<li class="active"><a href="#">About us </a></li>
              		<li><a href="#">Contact us </a></li>
      			</ul>
			</div>
            <div class="login pull_right">
            <Label> For admin: </Label>
            <a href="#"> Login </a>
            </div>
					<div class="clear"> </div>
</div>
<div class="content">
			<div class="upper_content">
            			<div class="right_content pull_left">
                        		<img src="~/images/doctor_slides.jpg" />
                        </div>
                        <div class="left_content pull_left">
                        <p>
Our goal is to provide one convenient website where you can search for common ailment symptoms and remedies but you can also visit<br /> face to face with Pakistan licensed doctors who care and take the time to develop a meaningful relationship with you to provide personalized<br/> medical information, healthful solutions, and living in wellness advice. 
</p>
<p>
With FindDoctor Doctors you will be able to 1) Develop a personal relationship with a doctor for you and/or your family 2) Get Doctor <br />personal information 3) Receive traditional and nutriceutical products only available at FindDoctor 4) Take the My Online FindDoctor<br /> health quiz to discover problems you might otherwise not discover 5) Get Doctors total Biography  6) Receive referrals to local doctors<br /> when needed  7) Search for symptoms and remedies on your own and so much more, all from the comfort of your own home. </p>
<p>Here at Online FindDoctor we know that a person who is educated and informed about their own health and wellness is much more<br />likely to find and maintain health and wellness. With rising healthcare costs, innovative solutions are needed in every householdFind<br/> doctor ease the Way to look for Doctors and Best Doctors availabe the venue you want .
 </p>
                        </div>
                        <div class="clear"> </div>
                        
            </div>
            <div class="lower_content">
            			<div class="right_content pull_left">
                         <p>
Our goal is to provide one convenient website where you can search for common ailment symptoms and remedies but you can also visit<br /> face to face with Pakistan licensed doctors who care and take the time to develop a meaningful relationship with you to provide personalized<br/> medical information, healthful solutions, and living in wellness advice. 
</p>
<p>
With FindDoctor Doctors you will be able to 1) Develop a personal relationship with a doctor for you and/or your family 2) Get Doctor <br />personal information 3) Receive traditional and nutriceutical products only available at FindDoctor 4) Take the My Online FindDoctor<br /> health quiz to discover problems you might otherwise not discover 5) Get Doctors total Biography  6) Receive referrals to local doctors<br /> when needed  7) Search for symptoms and remedies on your own and so much more, all from the comfort of your own home. </p>
<p>Here at Online FindDoctor we know that a person who is educated and informed about their own health and wellness is much more<br />likely to find and maintain health and wellness. With rising healthcare costs, innovative solutions are needed in every householdFind<br/> doctor ease the Way to look for Doctors and Best Doctors availabe the venue you want .
 </p>
  <p>
Our goal is to provide one convenient website where you can search for common ailment symptoms and remedies but you can also visit<br /> face to face with Pakistan licensed doctors who care and take the time to develop a meaningful relationship with you to provide personalized<br/> medical information, healthful solutions, and living in wellness advice. 
</p>
                        </div>
                        <div class="left_content pull_right">
                        <img src="~/images/doctors_neckties_mfl_for_him.jpg" />
                        </div>
                        <div class="clear"> </div>
                        
            </div> 
</div>
<div class="footer">
		  <div class="footer_container">	
      		     <div class="nav_foot pull_left">
      			    <ul>
                    
          			<li>FIND DOCTOR </li>
                    <li>426K Block ,Johar Town,Lahore</li>
           			<li>Email id-Kamrankj7@yahoo.com </li>
                    <li>Email id-Bcsf12m522@pucit.edu.pk </li>
      			   </ul>
			     </div>
            
      		     <div class="nav_foot pull_left">
      			     <ul>
          			<li>ABOUT US </li>
                    <li><a href="#">Home</a></li>
           		    <li><a href="#">About us </a></li>
                    <li><a href="#">Contact us </a></li>
      			    </ul>
			    </div>
      		    <div class="nav_foot pull_left">
      			     <ul>
          			<li>Services </li>
                    <li>Contact Doctor</li>
           			<li>Provide Doctor info </li>
                    <li>Doctor location </li>
      			     </ul>
			   </div>
      		   <div class="nav_foot pull_left">
      			    <ul>
          			<li>Customer Service </li>
                    <li>24/7 available</li>
           			<li><a href="#">contact us </a></li>
      			    </ul>
			   </div>
               <div class="clear">
           
            </div>
</div>
 <div class="copyright">
               <div class="right pull_left">
               <p>Powered By KHANsCompany </p>
               </div>
               <div class="right2 pull_right">
               <ul>
          			<li>Terms and Conditions </li>
                    <li>Copyright 2015 OnlineFindDoctor.All rights Reserved.</li>

      			</ul>
               </div>
               <div class="clear"> </div>
               </div>
            </div>
</div>
</body>
</html>
